<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
    </head>
    <body>
        <p>This is an example of a simple HTML page with one paragraph.
        you can see this by running curl localhost:{{ apache_port }} </p>
    </body>
</html>
